@page "/gallery"

<PageTitle>Gallery</PageTitle>

<h1>Meet our contestants!</h1>

@if (imagePath is not null)
{
    <div>
        <img src="@imagePath" />
    </div>
}

<div class="container">
    <div class="row">  

@for (var i = 1; i <= 40; i++)
{
    var imageId = i;
    
    <div class="col-md-4">
        <div class="card bg-light">
            
            <a href="@ShowImage(imageId)" target="_blank">
                <img src="@ShowImage(imageId)" alt="Hamster" style="width:100%">
            </a> 
        <div class="card-body">
                <h4 class="card-title text-center">Hamster</h4>
                
                   
            <ul class="list-group">
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Age: 
                <span>2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Favorite Food: 
                <span>Apples</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Loves:
                <span>Playing</span>
                </li>
                
</ul>
<br/>
<div class="d-grid">
    <button type="button" class="btn btn-outline-danger btn-block btn-sm">Delete</button>
  </div>
</div> 
        </div>
        

    </div>
}
    </div> 
</div>

@code {
    private string? imagePath;

    private string ShowImage(int id)
    {
        imagePath = $"images/hamster/hamster-{id}.jpg";

        return imagePath;
    }
}
